# Application server port
SERVER_PORT=7789

# Path to the stations table export
#STATIONS_CSV=./stations.csv
STATIONS_CSV=/home/peterzen/Code/Java/2-2-infrastructures-leertaak-2/out/artifacts/tempus-indicium-datafilter-1.0/stations.csv

# The number of measurement rows to store in ram before writing to disk
ROWS_PER_WRITE=5000

DATAGATHER_HOST=localhost
DATAGATHER_PORT=7790